*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100%;
    position: relative;
}
footer{
    display: flex;
    position:relative;
    padding: 0px;
}
/* .caja_principal{
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 241);
} */
.caja_banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(ba.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
}
.mainBox{
    display: flex;
    justify-content: center;
    gap:2rem;
    padding-bottom: 2rem;
}
.caja_eventos{
    display: flex;
    background-color: aliceblue;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    box-shadow:1px 1px 18px 2px rgb(192, 183, 192);
    width: 350px;
    height: 500px;
}
.descriptionBox{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.caja_footer{
    height: 18rem;
    width: 100%;
    background-color: rgb(25, 10, 110);
}
img{
    width: 350px;
    height: 250px;
}
.h2 {
    color: black;
    width: 325px;
    height: 50px;
    padding: 1rem;
}
.h1{
    color: rgb(184, 236, 238);
    font-size: 45px;
    font-weight: 900;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: medium;
    margin: 5px;
}
i{
    color: rgb(17, 17, 87);
}
.middleBox{
    display: flex;
}
.button, a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 3rem;
    background-color: rgb(13, 3, 107);
    border: solid 1px rgba(0, 0, 0, 0.658);
    border-radius: 10px;
    box-shadow:1px 1px 15px 1px rgba(107, 107, 107, 0.623);

    color: blanchedalmond;
    text-decoration:none; 
    font-size: 18px;  
}

@media(max-width:1080px){
        .caja_contenido{
            justify-items: center;
            align-items: center;
            flex-direction: column;
        } 
        .caja_banner{
            height: 25rem;
            width: 100vw;
        }
        .h1{
            font-size: 35px; 
            text-align: center;
        }
        }
       